<!-- Name: Changpo Jiang 1148594 -->
<!-- {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="max-w-800 mx-auto">
        <div  class="alert alert-{{category}} alert-dismissible fade show sticky-top" role="alert" style="margin-top:150px; padding: auto;">
            <div class="d-flex justify-content-center"> {{ message }} </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
      </div>
    {% endfor %}  
  {% endif %}
{% endwith %} -->

<!-- {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        <div  class="alert m-0 alert-{{category}} alert-dismissible fade show sticky-top" role="alert" style>
            <div class="d-flex justify-content-center"> {{ message }} </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
    {% endfor %}  
  {% endif %}
{% endwith %} -->
