<!-- Name: Xiaowei Li / Student ID: 1153496 -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    </head>

    <body>
      <div class="navbgcolor fixed-top">
        <div class="navbarpadding">
          <nav class="navbar navbar-expand-xl navbar-light" style="background-color: #2c4ae8;">
            <a class="nav-link" href="{{ url_for('home') }}">
              <img src="{{ url_for('static', filename='pic/logo.svg') }}" alt="" width="65%">
            </a>
          </nav>
        </div>
      </div>

      <section class="content" Style="margin-top:144px;">
            <header>
              {% block header %}{% endblock %}
            </header>
            {% for message in get_flashed_messages() %}
              <div class="flash"></div>
            {% endfor %}
            {% block content %}{% endblock %}
      </section>

      <footer class="footer" style="color:rgb(255, 255, 255);background: #2c4ae8;">
        <div class="container-fluid">
          <div class="row pt-1 px-5">
            <div class="col-lg-4 col-12" style="font-size: 1rem; text-align: left;">
              <p>
                <span style="font-size: 1rem;">
                     © All rights reserved, Lincoln University, 2023
                </span>
              </p>
            </div>
            <div class="col-lg-4 col-12" style="font-size: 1rem; text-align: center;">
              <p>
                  
              </p>
            </div>
            <div class="col-lg-4 col-12" style="text-align: right;">
              <p>
                <a style="text-decoration:none" href="https://en.wikipedia.org/wiki/Super_8_film">
                  <span style="color:rgb(255, 255, 255);font-size: 1rem;">
                   Powered by Super 8   
                  </span>
                </a>
              </p>
            </div>
          </div>          
        </div>
      </footer>
      

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </body>

