{% extends "common/applybase.html" %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <span>
            {{ message }}
        </span>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="max-w-800 mx-auto">
        <div class="border border-5">
            <div style="margin:20px 20px 20px 20px;">
                <form id="password-reset-form" action="/change_password" method="POST">
                    <div id="alert"></div>

                    <label for="new_password">Password</label>
                    <input type="password" id="new_password" name="new_password" required>

                    <label for="confirm_password">Re-type password</label>
                    <input type="password" id="confirm_password" name="confirm_password" required>

                    <input type="hidden" name="email" value="{{ email }}">
                  
                    <button type="submit">Reset password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
